<p>Hey {{ name }},</p>
<p>Your stripe ID is {{ stripeId }}.</p>
<p>
    You have a payment with price {{ price }} at {{ time }}.
</p>
<p>Your order status: {{ status }}.</p>

<p>If you did not request this email you can safely ignore it.</p>